colorama
grpcio
protobuf
requests
structlog
srvlookup
urllib3 >=1.24.2, <2
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-requests